.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-radius: 40px;
   border-color: aquamarine;
   border-style:outset;
}

